.header{
    background:#000;
}

.header_inner{
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header_logo{
    color: #fff;
    text-decoration: none;
    font-weight:bold;
    font-size: 24px;
}